.navbar-default {
    background-color: #FFFF !important;
    border-color: rgba(20, 20, 20, 0.667);
    border: 5px;
    .navbar-header {
        margin-bottom: 10px;
        .fa-cog {
            color: #f17806 !important;
            margin-right: 25px;
            font-size: 30px;
        }
        a > p {
            color: #f17806 !important;
            text-align: center;
            font-family: Arial, Helvetica, serif;
            font-size: 16px;
        }
        .fa-bars {
            font-size: 20px;
            margin-left: 10px;
        }
        .fa-angle-double-right{
            font-size: 14px;
            color: #42f54e;
            margin-left: 15px;
        }
        .navbar-brand {
            font-size: 12px;
            color: #f7b900;
            margin-left: 15px;
        }
        
    }
}
