.navbar-light {
    .navbar-header {
        margin-bottom: 10px;
        .fa-cog {
            color: #f17806 !important;
            margin-right: 25px;
            font-size: 30px;
        }
        .fa-bars {
            font-size: 20px;
            margin-left: 10px;
        }
        .fa-angle-double-right{
            font-size: 14px;
            color: #42f54e;
            margin-left: 15px;
        }
        .navbar-brand {
            font-size: 12px;
            color: #f7b900;
            margin-left: 15px;
        }
        
    }
    .navbar-content > i {
        margin: 5,10,5,10;
    }
}
